@{
    ViewData["Title"] = "Home Page";
}

<div style="background: lightSkyBlue" class="jumbotron">
    <h1>Going Merry</h1>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hacia el Grand Line</h2>
        <p>
          Vamos por el One Piece, iniciemos conformando 
            la tripulacion
        </p>
    </div>
</div>